<h2 mat-dialog-title>
  Modifica costo di {{ data.pilota.nome }} {{ data.pilota.cognome }}
</h2>
<mat-dialog-content>
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Nuovo costo</mat-label>
    <input matInput type="number" [(ngModel)]="newPrice" />
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="dialogRef.close()">Annulla</button>
  <button mat-raised-button color="primary" (click)="confirm()">
    Conferma
  </button>
</mat-dialog-actions>
